@import "bootstrap-sprockets";
@import "bootstrap";

// Listing articles styling

.article-title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.8em;
  padding-left: 0.7em;
}

.article-body {
  font-size: 1.5em;
  padding-left: 1.2em;
  color: #64103F;

}

.author {
  color: #64103F;
  padding-left: 25px;
}

// .article-title {
//
// }

.article-detail {
  margin-top: 20px;
  color: #0000ff;
}

.edit-delete{
  margin-top: 20px;
}

.sign-link a {
  color: #64103F;
}